/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --text-color: rgba(255, 255, 255, 1);
    --paragraph-color: rgb(187, 185, 185);
    --green-color: rgba(0, 255, 136, 1);
    --bg-color: #1A0B2E;
    --yellow-color: #F7E93F;
    --blue-color: #9100F8;
    --pink-color: #FB09B4;
}


/* shared  */

.container-section {
    max-width: 1200px;
    margin: 0 auto;
}

.main-btn {
    background: linear-gradient(15deg, var(--yellow-color), var(--pink-color), var(--blue-color));
    padding: 16px 25px;
    border-radius: 25px;
    border: none;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 0.8px;
    border: 1px solid var(--bg-color);
    cursor: pointer;
}

.main-btn:hover {
    padding: 16px 25px;
    border-radius: 25px;
    background: transparent;
    border: 1px solid var(--green-color);
    color: var(--green-color);
    font-weight: 600;
    letter-spacing: 0.8px;
}

.secondary-btn {
    padding: 16px 25px;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid var(--green-color);
    color: var(--green-color);
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: pointer;
}


.secondary-btn:hover {
    background: linear-gradient(15deg, var(--yellow-color), var(--pink-color), var(--blue-color));
    padding: 16px 25px;
    border-radius: 25px;
    border: none;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 0.8px;
    border: 1px solid var(--bg-color);
}

.display-none {
    display: none;
}

.web-bg-color {
    background-color: var(--bg-color)
}


body {
    font-family: "Inter", sans-serif;
}



/* nav section style start here  */

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.nav-section>h1 {
    color: var(--text-color);
    color: var(--green-color);
}

.nav-section .logo img {
    width: 100%;

}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links .nav-link {
    list-style: none;
}

.nav-links .nav-link a {
    text-decoration: none;
    color: var(--text-color);
}

.nav-links .nav-link a:hover {
    color: var(--pink-color);
}


/* banner section  */
.banner-section {
    background-image: url("/assets/hero-bg.png");
    min-height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 10px 0px 0px 0px;
}

.banner-image {
    width: 550px;
    margin: 0 auto;
}

.banner-image .cicle {
    position: relative;
    left: 100px;
    top: 90px;
}

.banner-image .microphone {
    z-index: 10;
    position: relative;
    top: 15px;
    right: 140px;
}

.banner-image .tultip {
    position: relative;
    top: -230px;
    left: 140px;
    z-index: 20;
    background-color: var(--green-color);
    width: 70px;
    margin: 0 auto;
    text-align: center;
    padding: 6px 15px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 1px 1px 20px rgba(0, 255, 136, 0.669);

}

.banner-content {
    width: 550px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.banner-content h1 {
    font-size: 48px;
    color: var(--text-color);
}

.banner-content p {
    font-size: 16px;
    color: var(--paragraph-color);
    margin: 10px 0px;
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
}

.banner-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}


/* about section  */

.about-section {
    background-color: var(--bg-color);
    padding: 100px 0px;
}


.about-container hr {

    border: 1px solid #5c585837;
    margin: 50px 0px;
}

.about-content {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-content h2 {
    color: var(--text-color);
    font-size: 48px;
}

.about-content p {
    font-size: 16px;
    color: var(--paragraph-color);
}

.about-rating {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-rating h2 {
    color: var(--green-color);
    font-size: 48px;
}

.about-rating p {
    color: var(--paragraph-color);
    font-size: 16px;
}


/* choose-techwave section */

.choose-techwave {
    background-color: #230E3D;
}

.techwave-container {
    padding: 100px 0px;

}

.techwave-container h2 {
    font-size: 48px;
    color: var(--text-color);
    text-align: center;
}

.techwave-item-1 {
    grid-area: techwave-item-1;
}
.techwave-item-2 {
    grid-area: techwave-item-2;
}
.techwave-item-3 {
    grid-area: techwave-item-3;
}
.techwave-item-4 {
    grid-area: techwave-item-4;
}
.techwave-item-5 {
    grid-area: techwave-item-5;
}

.techwave-content {
    display: grid;
    grid-template-areas:
    "techwave-item-1 techwave-item-2 techwave-item-2"
    "techwave-item-1 techwave-item-3 techwave-item-3"
    "techwave-item-4 techwave-item-4 techwave-item-5"
    ;
}

.techwave-item-1 {
    background-color: #351165;
    padding: 30px 20px;
    border-radius: 20px;
}

.techwave-content h3 {
    color: var(--text-color);
}

.techwave-content p {
    color: var(--paragraph-color);
}